<header class="navbar navbar-default">
    <div class="container" role="presentation">
        <ul class="nav navbar-nav">
            <li>
                <a href="@internal.routes.HomeController.index">Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="@internal.routes.ProductController.list">Products</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a href="@internal.routes.ProductController.create">Add Product</a>
            </li>
        </ul>
    </div>
</header>